@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#bloc_page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Shrikhand", sans-serif;
}

h1, h2, h3, h4, p, div, ul, ol {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration-line: none;
  color: #000;
}

header {
  background-color: #fff;
}

#presentation {
  background-color: #f6f6f6;
}

#fonctionnement {
  background-color: #fff;
}

#restaurants {
  background-color: #f6f6f6;
}

footer {
  background-color: #353535;
}

/* ************************* MIXINS ************************* */
/* ************************* HEADER ************************* */
header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0 0 15px #cecece;
}

.navigation-vide {
  width: 14px;
}

/* ******************* section "location" ******************* */
#location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
#location__containers {
  height: 40px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#location__containers--marker {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#location__containers--search-area {
  font-weight: bold;
}
#location__containers--vide {
  width: 40px;
}

/* ***************** section "presentation" ***************** */
#presentation__containers {
  padding: 40px 0;
  margin: 0 5%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.btn-1 {
  background: linear-gradient(to bottom right, #ff79da, #9d59dc);
  color: #fff;
  box-shadow: 0 0 15px #cecece;
  font-weight: bold;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  margin: auto;
  padding: 0 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-1:hover {
  box-shadow: 0 0 15px #353535;
}

/* ***************** section "fonctionnement" ***************** */
#fonctionnement {
  padding: 40px 0;
}
#fonctionnement__containers {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}
#fonctionnement__containers h3 {
  margin-bottom: 30px;
}
#fonctionnement__containers--buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
}
@media (max-width: 768px) {
  #fonctionnement__containers--buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 768px) {
  #btn-2.a {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (max-width: 768px) {
  #btn-2.b {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (max-width: 768px) {
  #btn-2.c {
    grid-column: 1;
    grid-row: 2;
  }
}

.btn-2 {
  display: flex;
  align-items: center;
}
.btn-2__order {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12px;
}
.btn-2__content {
  background-color: #f6f6f6;
  height: 75px;
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 0 15px #cecece;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-2__content--logo {
  width: 22%;
  color: #7e7e7e;
  display: flex;
  justify-content: center;
}
.btn-2__content--logo:hover {
  color: #9356dc;
}
.btn-2__content--text {
  width: 78%;
  font-weight: bold;
}
.btn-2__content:hover {
  background-color: #f5e6ff;
}

/* ***************** section "restaurants" ***************** */
#restaurants {
  padding: 40px 0;
}
#restaurants__containers {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#restaurants__containers h3 {
  align-self: flex-start;
  margin-bottom: 30px;
}

.restaurants-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.restaurants-selection__box {
  height: 250px;
  max-width: 335px;
  border-radius: 10px;
  box-shadow: 0 0 15px #cecece;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.restaurants-selection__box--image {
  min-width: 100%;
  max-width: 100%;
  height: 174px;
}
.restaurants-selection__box--image img {
  width: 100%;
}
.restaurants-selection__box--text {
  height: 76px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.restaurants-selection__box--new {
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  border-radius: 2px;
  position: absolute;
  right: 2.5%;
  top: 8px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants-selection__box:hover {
  box-shadow: 0 0 15px #353535;
}

@media (max-width: 768px) {
  #restaurants-selection__box-sup {
    display: none;
  }
}

.resto-name {
  width: 90%;
  height: 76px;
}
.resto-name__text {
  padding: 15px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-heart {
  width: 10%;
  display: flex;
}
.logo-heart i {
  font-weight: lighter;
}

/* ************************* page 1 ************************* */
.image-en-tete {
  height: 265px;
}
.image-en-tete img {
  min-width: 100%;
  max-width: 100%;
  height: 265px;
  overflow: hidden;
}
.image-en-tete__separateur {
  background-color: #f6f6f6;
  height: 45px;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 45px;
}

.resto-content {
  background-color: #f6f6f6;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resto-content__title {
  margin: 0 5% 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0 3.5% 20px 3.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
.menu-section h3 {
  margin-bottom: 10px;
  padding-left: 2%;
}
.menu-section__separateur {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-left: 6px;
  margin-bottom: 14px;
}
.menu-section__plats {
  background-color: #fff;
  height: 70px;
  border-radius: 12px;
  box-shadow: 0 0 15px #cecece;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-section__plats--text {
  height: 50px;
  width: 85%;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-section__plats--text h4 {
  font-size: 16px;
}
.menu-section__plats--text p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-section__plats--prix {
  height: 70px;
  width: 15%;
  margin-right: 3.5%;
  border-radius: 0 12px 12px 0;
  background-color: #fff;
  position: absolute;
  left: 80%;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.menu-section__plats--prix p {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: end;
}
.menu-section__plats--check {
  height: 70px;
  width: 15%;
  border-radius: 0 12px 12px 0;
  background-color: #99e2d0;
  color: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ************************* FOOTER ************************* */
.footer-container {
  color: #fff;
  margin: 0 5%;
  padding: 20px 0;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.footer-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.footer-container__list {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-container__list a {
  color: #fff;
}
.footer-container__list a:hover {
  font-weight: bold;
}
.footer-container__list--liens i {
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
