.button-1 {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: red;
}

.btn-1 {
    background-color: #FF79DA;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}