.button-1 {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: red;
}

.btn-1 {
    background-color: #FF79DA;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-btn {
    display: flex;
    justify-content: space-around;
}

.btn-2 {
    display: flex;
    &__order {
        border: solid;
        border-radius: 50%;
        background-color: #9356dc;
    }
    &__content {
        background-color: #f6f6f6;
        border: solid;
        display: flex;
    }    
}

