#bloc_page {
    max-width: 1440px;
    margin: 0 auto;
}

h1, h2, h3, h4, p, div, ul, ol {margin: 0; padding: 0; margin-block-start: 0; margin-block-end: 0;}


header {background-color: blue;}

#presentation {background-color: red;}

#fonctionnement {background-color: yellow}

#restaurants {background-color: pink}

footer {background-color: green;}