$color-base: #fff;
$color-footer: #353535;
$color-fond-location: #eaeaea;
$color-background-conteneurs: #f6f6f6;
$color-logos: #7e7e7e;
$color-shadow: #cecece;
$color-Secondaire: #ff79da;
$color-violet-2: #9d59dc;
$color-violet-Primaire: #9356dc;
$color-violet-hover: #f5e6ff;
$color-tertiaire: #99e2d0;
$color-tertiaire-darker: #008766;

$loader-delay: 200ms;

#bloc_page {
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-family: "Shrikhand", sans-serif;
}

h1, h2, h3, h4, p, div, ul, ol {margin: 0; padding: 0; margin-block-start: 0; margin-block-end: 0;}

a {text-decoration-line: none; color: #000;}

header {background-color: $color-base;}

#presentation {background-color: $color-background-conteneurs;}

#fonctionnement {background-color: $color-base;}

#restaurants {background-color: $color-background-conteneurs;}

footer {background-color: $color-footer;}

$width-smartphone: 768px;