@font-face {
    font-family: "Roboto";
    src: url("./public/font/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Shrikhand";
    src: url("./public/font/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, p, div, ul, ol {margin: 0; padding: 0; margin-block-start: 0; margin-block-end: 0;}

a {text-decoration-line: none; color: #000;}

header {background-color: blue;}

#presentation {background-color: red;}

#fonctionnement {background-color: yellow}

#restaurants {background-color: pink}

footer {background-color: green;}

/* ************************* HEADER ************************* */

header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 15px #CECECE;
}

/* ******************* section "location" ******************* */

#location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    &__container {
        height: 40px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--marker {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--search-area {
            font-weight: bold;
        }
        &--vide {
            width: 40px;
        }
    }
}

/* ***************** section "presentation" ***************** */

#presentation {
    &__container {
        padding: 40px 0;
        margin: 0 5%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
}

.btn-1 {
    background-color: #FF79DA;
    color: #FFF;
    font-weight: bold;
    height: 50px;
    width: 220px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ***************** section "fonctionnement" ***************** */

#fonctionnement {
    padding: 40px 0;
    &__container {
        margin: 0 5%;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 24px;   
    }
    &__container h2 {
        display: flex;
        align-items: center;
    }
}

.btn-2 {
    display: flex;
    align-items: center;
    &__order {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #9356dc;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 12px;
    }
    &__content {
        background-color: #f6f6f6;
        height: 75px;
        width: 85%;
        border-radius: 15px;
        box-shadow: 0 0 15px #CECECE; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--logo {
            width: 22%;
            color: #7e7e7e;
            display: flex;
            justify-content: center;
        }
        &--text {
            width: 78%;
            font-weight: bold;
        }
    }    
}

/* ***************** section "restaurants" ***************** */

#restaurants {
    padding: 40px 0;
    &__containers {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__containers h2 {
        margin-bottom: 30px;
        
    }
}

.restaurants-selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &__box {
        height: 250px;
        border-radius: 10px;
        box-shadow: 0 0 15px #CECECE;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        &--image {
            min-width: 100%;
            max-width: 100%;
            height: 174px;
        }
        &--image img {
            width: 100%;
        }
        &--text {
            height: 76px;
            background-color: #FFF;
            display: flex;
            align-items: center;
        }
        &--new {
            width: 80px;
            height: 30px;
            background-color: #99e2d0;
            color: #008766;
            font-weight: bold;
            border-radius: 2px;
            position: absolute;
            right: 2.5%;
            top: 8px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.resto-name {
    width: 90%;
    height: 76px;
    &__text {
        padding: 15px;
        height: 46px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.logo-heart {
    width: 10%;
    display: flex;
}

/* ************************* page 1 ************************* */

.image-en-tete {
    height: 265px;
    & img {
        min-width: 100%;
        max-width: 100%;
        height: 265px;
        overflow: hidden;
    }
}



/* ************************* FOOTER ************************* */

.footer-container {
    color: #FFF;
    margin: 0 5%;
    padding: 20px 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & h2 {
        font-family: "Shrikhand", sans-serif;
        font-size: 24px;
    }
    &__list {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--liens i {
            width: 20px;
        }
    }
}
