@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Shrikhand";
    src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap") format("truetype");
    font-weight: normal;
    font-style: normal;
}