/* ********************************************************** */
/* ********************** PAGE ACCUEIL ********************** */
/* ********************************************************** */

.loading_page {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 2000px;
    margin: 0 auto;
    background-color: $color-footer; 
    animation: fondu-out 3000ms ease-in-out forwards;
    animation-iteration-count: 1;
    &__loader {
        padding-top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--lettre {
            color: $color-Primaire;
            animation: loading 1800ms ease-in-out both;
            &:nth-child(2){animation-delay: $loader-delay*1;}
            &:nth-child(2){animation-delay: $loader-delay*2;}
            &:nth-child(3){animation-delay: $loader-delay*3;}
            &:nth-child(4){animation-delay: $loader-delay*4;}
            &:nth-child(5){animation-delay: $loader-delay*5;}
            &:nth-child(6){animation-delay: $loader-delay*6;}
            &:nth-child(7){animation-delay: $loader-delay*7;}
            &:nth-child(8){animation-delay: $loader-delay*8;}
            & h2 {font-size: 50px;}
        }
    }
}

@keyframes fondu-out {
    0% {opacity: 1;}
    20% {opacity: 0.99;}
    80% {opacity: 0.95;}
    85% {opacity: 0.25;}
    90% {opacity: 0.2;}
    95% {opacity: 0.1; transform: scaleY(1);}
    100% {opacity: 0; transform: scaleY(0);}
}

@keyframes loading {
    0% {color: $color-footer; text-shadow: 0 0 7px $color-footer;}
    10% {color: $color-Primaire; text-shadow: 0 0 7px $color-footer;}
    100% {color: $color-Secondaire; text-shadow: 0 0 7px $color-Secondaire;}
}

/* ******************* section "location" ******************* */

#location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-fond-location;
    &__containers {
        height: 40px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        & h2 {display: none;}
        &--marker {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--search-area {font-weight: bold;}
        &--vide {width: 40px;}
    }
}

/* ***************** section "presentation" ***************** */

#presentation {
    &__containers {
        padding: 40px 0;
        margin: 0 5%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
}

/* ***************** section "fonctionnement" ***************** */

#fonctionnement {
    padding: 40px 0;
    &__containers {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        & h3 {margin-bottom: 30px;}
        &--buttons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 20px;
            @include media-queries-max($width-smartphone) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-gap: 20px;
            }
        }
    }
}

/* ***************** section "restaurants" ***************** */

#restaurants {
    padding: 40px 0;
    &__containers {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__containers h3 {
        align-self: flex-start;
        margin-bottom: 30px;        
    }
}

.restaurants-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &__box {
        height: 250px;
        max-width: 325px;
        border-radius: 10px;
        box-shadow: 0 0 15px $color-shadow;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        &--image {
            min-width: 100%;
            max-width: 100%;
            height: 174px;
        }
        &--image img {width: 100%;}
        &--text {
            height: 76px;
            background-color: $color-base;
            display: flex;
            align-items: center;
        }
        &--new {
            width: 80px;
            height: 30px;
            background-color: $color-tertiaire;
            color: $color-tertiaire-darker;
            font-weight: bold;
            border-radius: 2px;
            position: absolute;
            right: 2.5%;
            top: 8px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {box-shadow: 0 0 15px $color-footer; opacity: 0.8;}
    }
}

.rest-selec_box-sup {
    @include media-queries-max($width-medium) {display: none;}
}

.resto-name {
    width: 90%;
    height: 76px;
    &__text {
        padding: 15px;
        height: 46px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
