/* blanc */
$color-base: #fff;
/* gris */
$color-footer: #353535;
$color-fond-location: #eaeaea;
$color-background-conteneurs: #f6f6f6;
$color-logos: #7e7e7e;
$color-shadow: #cecece;
/* violets */
$color-Secondaire: #ff79da;
$color-intermediaire: #9d59dc;
$color-Primaire: #9356dc;
$color-hover: #f5e6ff;
/* verts */
$color-tertiaire: #99e2d0;
$color-tertiaire-darker: #008766;


$loader-delay: 200ms;


$width-smartphone: 768px;
$width-medium: 1024px;